<div class="modal fade" id="createRailwayStationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Railway Station</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="alert alert-danger" ng-show="error">{{errorMessage}}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="rs_name">Railway Station Name</label>

                        <div class=" col-md-9">
                            <input class="form-control" type="text" id="rs_name" ng-model="rs.name"
                                   placeholder="Railway Name" required min="2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label  col-md-3" for="train_name">Train Name</label>

                        <div class=" col-md-9">
                            <input class="form-control" type="text" id="train_name" ng-model="rs.train.name"
                                   placeholder="Train Name" required min="2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="train_speed">Speed</label>

                        <div class="col-md-9">
                            <div class="input-group">
                                <input class="form-control" class="span3" type="number" id="train_speed"
                                       ng-model="rs.train.speed" placeholder="Speed" required min="1" step="1">
                                <span class="input-group-addon">KM/H</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="rs.train.diesel"> Is Diesel
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-disabled="!rs.name || !rs.train.speed" ng-hide="editMode"
                            ng-click="addNewRailwayStation(rs)">Add Railway Station
                    </button>

                    <button type="button" class="btn btn-primary"
                            ng-disabled="!rs.train.name || !rs.train.speed" ng-show="editMode"
                            ng-click="updateRailwayStation(rs)">Save Railway Station
                    </button>
                    <button type="button" class="btn" ng-click="resetRailwayStationForm()">Reset</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


<h3>Railway Stations List<span class="small"><button class="btn btn-link btn-xs" data-toggle="modal"
                                                     data-target="#createRailwayStationModal">
    <i class="glyphicon glyphicon-plus"></i></button></span></h3>
<hr/>
<div class="alert alert-info" ng-show="railwaystations.length == 0">No Railway Stations found</div>
<table class="table table-bordered table-striped" ng-show="railwaystations.length > 0">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Speed</th>
        <th>Diesel</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in railwaystations | orderBy:predicate">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.train.speed}}</td>
        <td><span
                ng-show="item.train.diesel" class="glyphicon glyphicon-ok"></span></td>
        <td>
            <button class="btn btn-xs btn-danger"
                    ng-click="removeRailwayStation(item.id)"><i class="glyphicon glyphicon-remove"></i>
            </button>
            <button class="btn btn-xs btn-success" ng-click="editRailwayStation(item)"><i
                    class="glyphicon glyphicon-edit"></i></button>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-danger" ng-show="railwaystations.length > 1"
        ng-click="removeAllRailwayStations()">Remove All stations
</button>